body{
  background-color: #fff;
}

#article{
  background-color: #fff;
  .article-content{
    p{
      line-height: 2em;
    }

    img{
      width: 100%;
    }
  }

  .article-info{
    .avatar{
      display: inline-block;
      img{
        width: 1em;
        margin-right: .8em;
      }
    }
    .author{
      display: inline-block;
      color: #666;
      font-size: .9em;
    }

    .like{
      display: inline-block;
      float: right;
      color: #666;
      i.fa-heart{
        background-color: #666;
        margin-right: .4em;
        border-radius: 50%;
        color: #fff;
        padding: .3em;
      }

      i.fa-weixin{
        background-color: #58B441;
        color: #fff;
        margin-right: .4em;
        padding: .3em;
        border-radius: 50%;
      }
    }
  }

  .comments{

    border-top: 1px solid #777;
    padding-top: 2em;
    margin-top: 2em;

    .comment-input{
      width: 100%;
      border: 1px solid #777;
      border-radius: 2px;
      margin-bottom: 1em;

      .button{
        display: block;
        color: #666;
        border-left: 1px solid #777;
        text-align: center;
        padding-top: .4em;
        padding-bottom: .4em;
        padding-left: .6em;
        padding-right: .6em;
      }

      input[type="text"]{
        border-radius: 0;
        box-sizing: border-box;
        padding: .4em;
        border: 0;
        width: 100%;
        height: 100%;
      }
    }

    .item{
      margin-bottom: 1em;
      .author{
        .avatar{
          img{
            float: left;
            display: inline-block;
            border-radius: 50%;
            width: 1.5em;
            margin-right: .4em;
            margin-top: .2em;
          }
        }
        .username{
          display: inline-block;
          font-size: 1em;
        }
        .time{
          display: inline-block;
        }
      }
      .content{
        margin-top: .8em;
        font-size: 1.2em;
      }
    }
  }
}
