#functions{
  .item{
    margin-bottom: 1em;
    .date{
      background-color: #212A30;
      padding: .1em;
      position: relative;

      &::after{
        content: '';
        width: 0;
        height: 0;
        border: .8em solid transparent;
        border-left-color: #212A30;
        position: absolute;
        top: 1em;
        right: -1.5em;
        z-index: 2;
      }

      .day{
        text-align: center;
        font-size: 3em;
        color: #50B5E6;
        padding-top: .2em;
        padding-bottom: .2em;
      }
    }
    .year{
      text-align: center;
      font-size: .9em;
      background-color: #fff;

    }

    .background{
      background-size: cover;
      position: relative;
      height: 6em;
      .content{
        position: absolute;
        padding: .4em;
        font-weight: bold;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.01));
        bottom: 0;
        color: #fff;
        font-size: 1.2em;
      }
    }

  }
}
