a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: #f7f7f7;
}

header{
  background-color: #212A30;
  img{
    width: 8em;
    margin: 0 auto;
    display: block;
    padding: 1em;
    &.button{
      position: absolute;
      top: .2em;
      max-width: 1.4em;
    }
  }
}

.tag{
  position: absolute;
  font-size: 1em;
  right: 1em;
  width: 2em;
  color: #fff;
  background-color: rgba(81, 182, 230, .95);
  padding: .5em;
  z-index: 2;
  font-weight: bold;

  &::after{
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 1px;
    // border-top: 50px solid;
    border-right: 1.5em solid transparent;
    border-top: 0em solid transparent;
    border-left: 1.5em solid transparent;
    border-bottom: .4em solid RGB(33, 42, 48);
  }

  &.home{
    &::after{
      border-bottom: .4em solid transparent;
    }
  }
}

#menu{
  display: none;
  background-color: rgba(33, 42, 48, .95);
  width: 14em;
  padding-bottom: 1em;
  position: absolute;
  z-index: 3;
  #search-bar{
    // input[type="text"]{
    //   border: 0;
    //   border-radius: 0;
    //   display: block;
    //   border-radius: 4em;
    //   margin: 0 auto;
    //   margin-top: 1.8em;
    //   margin-bottom: 1em;
    //   padding-left: 1em;
    //   padding-right: 1em;
    //   padding-top: .5em;
    //   padding-bottom: .5em;
    // }

    #search-input{
      i{
        margin-right: .4em;
      }
      text-align: center;
      background-color: #fff;
      margin: 0 auto;
      width: 10em;
      display: block;
      border-radius: 4em;
      padding-top: .2em;
      padding-bottom: .2em;
      padding-left: .8em;
      padding-right: .8em;
      margin-top: 1.2em;
    }
  }
  .item{
    display: block;
    margin-bottom: 1em;
    .icon{
      display: inline-block;
      img{
        width: 2em;
        margin-top: 1em;
        margin-right: .8em;
        margin-left: 1.8em;
        margin-bottom: -0.6em;
      }
    }
    .name{
      display: inline-block;
      color: #fff;

    }
  }
}

#container{
  padding: .8em;
}

.search-input{
  input[type="text"]{
    background-color: #EBECED;
    box-sizing: border-box;
    padding-left: .8em;
    padding-right: .8em;
    padding-top: .4em;
    padding-bottom: .4em;
    width: 100%;
    border: 0;
    border-radius: 4em;
  }
}

h2{
  border-bottom: 1px solid #C7C5C5;
  padding-bottom: .6em;
}

.article-items{
  .item{
    position: relative;
    margin-bottom: .8em;
    background-size: cover;
    .title{
      font-size: 1.4em;
      font-weight: bold;
      margin-bottom: .4em;
    }

    .info{
      font-size: .9em;
      .avatar{
        img{
          width: 1.4em;
          float: left;
          margin-right: .8em;
        }
      }
    }

    &.function{
      .sub{
        a{
          color: #fff;
        }
      }
    }

    &.normal{

      padding-bottom: 48%;

      .background{
        .content{
          color: #fff;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding: 1em;
          box-sizing: border-box;
          background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.01));
          a{
            color: #fff;
          }
        }
      }
    }

    &.detail{

      .background{
        background-size: cover;
        padding-bottom: 35%;
      }

      .icon{
        padding: 1em;
        color: #fff;
        i{
          background-color: #fff;
          width: 1.2em;
          text-align: center;
          color: #777;
          padding: .2em;
          border-radius: 50%;
          margin-right: .4em;
        }
      }

      .content{
        background-color: #fff;
        color: #000;
        padding: .8em;
        box-sizing: border-box;
        .title{
          font-size: 1.4em;
          font-weight: bold;
        }
        .info{
          .author{
            color: #666;
          }
        }
      }
    }
  }
}
