#search{
  .items{
    .item{
      border-bottom: 1px solid #C6C6C5;
      padding-bottom: 1em;
      margin-bottom: 1em;
      .icon{
        margin-bottom: 1em;
        i{
          width: 1em;
          text-align: center;
          background-color: #202B30;
          border-radius: 50%;
          color: #fff;
          padding: .2em;
          margin-right: .2em;
        }
      }

      .title{
        font-size: 1.6em;
        margin-bottom: .4em;
      }

      .info{
        font-size: .9em;
        .avatar{
          img{
            width: 1.4em;
            float: left;
            margin-right: .8em;
          }
        }
      }
    }
  }
}
