#search{


  .key-words{
    width: 100%;
    .pure-u-1-3{
      text-align: center;
    }
    .word{
      padding: .2em;

      a{
        text-decoration: none;
        color: #000;
      }
    }
  }
}
