extends layout

block style
  link(rel="stylesheet", type="text/css", href="./build/article.css")
    
block container
  #article
    .picture
      //- 题图
      .article-items
        .item.normal(style="background-image: url(http://www.collegedaily.cn/media/covers/003_meitu_3_2.jpg)")
          .background
            .content
              .title 哈佛的门票多少钱一张 
              .info
                .avatar
                  img(src="./images/avatar.png")
                .author 蝙蝠大人 2015-7-7 18:32
    .article-content
      p 首先，我其实从来没想过要做fashion blogger。
      p 我没有奢侈品。我的博客里，从来没有推荐过大家喜欢的“大牌”。很简单，因为我还没有到能安心地把自己挣的钱花在一个几千美元的包上。我不高，没有锥子脸和大长腿。c我喜欢骑着车从北京西边穿过长安街，去胡同里听Live。喝两杯酒，再听着音乐，大半夜里晚上一个人骑车回家。有的时候，我会在半夜的路边停下来， 看一家打工者在路边拿着白漆涂护栏。十几岁的小孩也在涂。这样的瞬间，我就会拿手机拍下来。因为它很打动我。
      img(src="http://www.collegedaily.cn/media/uploads/blob_20150915145911_842.png")
      p 我爱买衣服，和逛美术馆。大都会我可以一天去两次。在意大利我拿着速写本走遍了大街小巷。中午买一个两欧元的面包在台阶上啃。我的朋友里，做时尚的就一个，我认识他还是因为他画画。其他，基本上就是学文学的，搞建筑的，有理想没钱的年轻人。
    .article-info
      .avatar
        img(src="./images/avatar.png")
      .author 蝙蝠大人 2015-7-7 18:32
      .like
        i.fa.fa-weixin
        i.fa.fa-heart
        | 32
    .comments
      .comment-input.pure-g
          .pure-u-3-4 
            input(type="text")
          .pure-u-1-4
            a(href="#").button 发表评论
      .item
        .author
          .avatar
            img(src="http://cdn.v2ex.co/avatar/ed4c/1b66/16147_large.png?m=1409228135")
          .username Randy
          .time 4 小时前
        .content 非常好，写得很精彩，学到很多！
      .item
        .author
          .avatar
            img(src="http://cdn.v2ex.co/avatar/ed4c/1b66/16147_large.png?m=1409228135")
          .username Randy
          .time 4 小时前
        .content 非常好，写得很精彩，学到很多！
