extends layout

block style
  link(rel="stylesheet", type="text/css", href="./build/function.css")
    
    
block header
  .tag 近期活动

block container
  #functions
    .item
      .pure-g
        .pure-u-1-4
          .date
            .day 21
            .year MAR 2015
        .pure-u-3-4.background(style="background-image: url()")
          .content
            a(href="#").title 准留学生们来参加 Offer 后 Party 吧
    .item
      .pure-g
        .pure-u-1-4
          .date
            .day 21
            .year MAR 2015
        .pure-u-3-4.background(style="background-image: url()")
          .content
            a(href="#").title 准留学生们来参加 Offer 后 Party 吧
