extends layout

block style
  link(rel="stylesheet", type="text/css", href="./build/index.css")

block container
  #index
    .article-items
      //- normal
      .item.normal(style="background-image: url(http://www.collegedaily.cn/media/covers/003_meitu_3_2.jpg)")
        .background
          .content
            a(href="#").title 哈佛的门票多少钱一张 
            .info
              .avatar
                img(src="./images/avatar.png")
              .author 蝙蝠大人 2015-7-7 18:32
      //- detail
      .item.detail
        .background(style="background-image: url(http://www.collegedaily.cn/media/covers/003_meitu_3_2.jpg)")
          .icon
            i.fa.fa-lightbulb-o
            | 观点
        .content
          a(href="#").title 哈佛的门票多少钱一张 
          .info
            .avatar
              //- 替换成头像地址
              img(src="./images/avatar.png")
            .author 蝙蝠大人 2015-7-7 18:32
      //- function
      .item.function
        .tag.home 近期活动
        .item.normal(style="background-image: url(http://www.collegedaily.cn/media/covers/003_meitu_3_2.jpg)")
          .background
            a(href="#").content
              .title 北京 2015.9.10
              .sub 入学新生来参加 Party 吧
block scripts
  script(src="build/index.js")
