extends layout

block style
  link(rel="stylesheet", type="text/css", href="./build/result.css")

block container
  #search
    .search-input
      input(type="text", placeholder="搜索")
    h2 文章
      span.small （12 条结果）
    .items
      .item
        .icon
          i.fa.fa-lightbulb-o
          | 观点
        .title 纽约市长难以负担两个孩子的大学学费
        .info
          .avatar
            img(src="./images/avatar.png")
          .author 蝙蝠大人 2015-7-7 18:32
      .item
        .icon
          i.fa.fa-lightbulb-o
          | 观点
        .title 纽约市长难以负担两个孩子的大学学费
        .info
          .avatar
            img(src="./images/avatar.png")
          .author 蝙蝠大人 2015-7-7 18:32
