extends layout

block style
  link(rel="stylesheet", type="text/css", href="./build/search.css")

block container
  #search
    form.search-input(action="test", method="get")
      input(type="text", placeholder="搜索", name="q")
    h2 大家都在搜
    .pure-g
      .key-words
        .pure-u-1-3
          .word
            a(href="#") 关键词
        .pure-u-1-3
          .word
            a(href="#") 关键词
        .pure-u-1-3
          .word
            a(href="#") 关键词
        .pure-u-1-3
          .word
            a(href="#") 关键词
        .pure-u-1-3
          .word
            a(href="#") 关键词
block scripts
  //- TODO 替换成 script url
  script(src="./build/search.js")
